/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/*portrfolio image*/

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.gallery .active{
	width: 100%;

}

/*contact*/

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

/*footer*/

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* filtres*/

#btn-filtre{
	display: flex;
	flex-wrap: wrap;
	display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: row;
    width: 63%;
    padding: 10px;
}

#Tous{
	border: 2px solid #1D6154;
    position: relative;
    color: #1D6154;
    background-color: transparent;
    width: 142px;
    height: 25px;
    margin: 10px;
    padding: 3px 0px 2px 0px;
    gap: 10px;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}
	
	

.Objets{
	border: 2px solid #1D6154;
    position: relative;
    color: #1D6154;
    background-color: transparent;
    width: 142px;
    height: 25px;
    margin: 10px;
    padding: 3px 0px 2px 0px;
    gap: 10px;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

.Objets:hover{
	background-color: #1D6154;
	color: white;
}

.Appartements{
	border: 2px solid #1D6154;
    position: relative;
    color: #1D6154;
    background-color: transparent;
    width: 142px;
    height: 25px;
    margin: 10px;
    padding: 3px 0px 2px 0px;
    gap: 10px;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

.Appartements:hover{
	background-color: #1D6154;
	color: white;
}
#Tous{
	border: 2px solid #1D6154;
    position: relative;
    color: #1D6154;
    background-color: transparent;
    width: 142px;
    height: 25px;
    margin: 10px;
    padding: 3px 0px 2px 0px;
    gap: 10px;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

#Tous:hover{
	background-color: #1D6154;
	color: white;
}

.Hotels {
	border: 2px solid #1D6154;
    position: relative;
    color: #1D6154;
    background-color: transparent;
    width: 142px;
    height: 25px;
    margin: 10px;
    padding: 3px 0px 2px 0px;
    gap: 10px;
    font-weight: bolder;
    font-size: 12px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

.Hotels:hover{
	background-color: #1D6154;
	color: white;
}


.gallery .inactive{
	display: none;
	width: 0;
	padding: 0;
	transition: width .3s;
}




.modal-btn {
	border: none;
	background-color: transparent;
	font-size: 18px;
	float: right;
    width: 65%;
    margin: -2.9em 0;
	display: block;
	min-width: 150px;
	cursor: pointer;
  }
  .modal-container {
	/* display: none; */
	visibility: hidden;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 125vh;
	transition: visibility 0.4s;
  }

  .modal-container2 {
	/* display: none; */
	visibility: hidden;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 125vh;
	transition: visibility 0.4s;
  }

  .modal-container.active {
	/* display: block; */
	visibility: visible;
  }

  .modal-container2.active {
	/* display: block; */
	visibility: visible;
  }

  .modal-container.innactive {
	/* display: block; */
	visibility: none;
  }

  .modal-container2.innactive {
	/* display: block; */
	visibility: none;
  }


  
  .overlay {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #333333d3;
	transition: opacity 0.4s 0.2s ease-out;
  }
  .modal-container.active .overlay {
	opacity: 1;
	transition: opacity 0.4s ease-out;
  }

  .modal-container2.active .overlay {
	opacity: 1;
	transition: opacity 0.4s ease-out;
  }
  
  .modal {
	opacity: 0;
	width: 41%;
	height: 525px;
	padding: 30px;
	background: #fff;
	border-radius: 5px;
	max-width: calc(100vw - 20px);
    max-height: calc(104vh - 20px);
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, calc(-50% - 50px));
	transition: opacity 0.4s ease-out,
	transform 0.4s ease-out;
  }

  .modal2 {
	opacity: 0;
	width: 41%;
	height: 525px;
	padding: 30px;
	background: #fff;
	border-radius: 5px;
	max-width: calc(100vw - 20px);
    max-height: calc(104vh - 20px);
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, calc(-50% - 50px));
	transition: opacity 0.4s ease-out,
	transform 0.4s ease-out;
  }
  
  .modal-container.active .modal {
	opacity: 1;
	transform: translate(-50%, -50%);
	transition: opacity 0.4s 0.2s ease-out,
	transform 0.4s 0.2s ease-out;
  }

  .modal-container2.active .modal2 {
	opacity: 1;
	transform: translate(-50%, -50%);
	transition: opacity 0.4s 0.2s ease-out,
	transform 0.4s 0.2s ease-out;
  }
  
  .close-modal {
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	color: black;
	font-weight: bold;
	background-color: transparent;
  }

  .close-modal2 {
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	color: black;
	font-weight: bold;
	background-color: transparent;
  }

  .modal h1 {
	margin: 15px;
    width: 77%;
    position: relative;
    left: 42px;
    color: black;
    font-weight: 500;
  }

  .modal2 h1 {
	margin: 15px;
    width: 77%;
    position: relative;
    left: 42px;
    color: black;
    font-weight: 500;
  }
  .image-modal img {
	height: 100px;
    width: 76px;
    position: relative;
    top: 6em;
  }

  .image-modal figure{
	position: relative;
    top: -5em;
    display: inline-flex;
  }
  .fa-solid, .fas {
	width: 100%;
    height: 17px;
	font-weight: 900;
    position: relative;
    top: 6.5em;
    right: 16px;
    font-weight: 900;
    position: relative;
    color: white;
	background-color: black;
	cursor: pointer;
   
}

.ajout{
	background-color: rgba(232, 241, 246, 1);
	height: 169px;
}

i.fa-regular.fa-image{
	color: rgba(185, 197, 204, 1);
	background-color: transparent;
	font-size: 62px;

}

.btn-ajout{
	background-color: rgba(185, 197, 204, 1);
	border-radius: 50px;
	border-color: rgba(185, 197, 204, 1);
	color: rgba(48, 102, 133, 1);
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 40%;
	height: 36px;
	position: relative;
	top: -7.5em;
}
.modal2 {
	opacity: 0;
	width: 41%;
	height: 525px;
	padding: 30px;
	background: #fff;
	border-radius: 5px;
	max-width: calc(100vw - 20px);
    max-height: calc(104vh - 20px);
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, calc(-50% - 50px));
	transition: opacity 0.4s ease-out,
	transform 0.4s ease-out;
  }

.modal2 h1{
	margin: 15px;
    width: 77%;
    position: relative;
    left: 105px;
    color: black;
    font-weight: 500;
  }

.retour{
	position: absolute;
    top: 16px;
	background-color: transparent;
	border: transparent;
}




.fa-arrow-left{
	color: black;
	background-color: transparent;
    top: 0em;
    left: 0px;
    font-size: 20px;
}
.ajout p{
	font-size: 10px;
	position: relative;
    top: -9em;
    left: 148px;
}

.image-ajout{
	height: 200px;
	position: relative;
	left: 160px;
    top: 1em;
}

input.ajoutPhoto {
    width: 46%;
    margin: 90px;
    border: 1px;
	cursor: pointer;
}

.btn-ajouter {
	border-top: 1px solid black;
    margin: 0px;
    color: black;
    text-align: center;
    padding: 41px 16px;
    text-decoration: none;
}

.label-email{
	size: 14px;
    font-weight: bold;
    margin: 10px;
}
.label-catgorie{
	size: 14px;
    font-weight: bold;
    margin: 10px;

}

.valider{
	border-top: 0.5px solid grey;
    margin-top: 23px;
}



#cta{
	color: white;
    background-color: rgba(167, 167, 167, 1);
    border-radius: 50px;
    border-color: transparent;
    width: 50%;
	margin-top: 25px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#titre{
	width: 100%;
    height: 51px;
    border-color: transparent;
    box-shadow: 0 0 20px #0000002e;
    margin: 10px;
}

.select-categorie{
	width: 100%;
    height: 51px;
    border-color: transparent;
    box-shadow: 0 0 20px #0000002e;
    margin: 10px;

}

.cta{
	flex: 1;
	border-top: 1px solid black;
    padding: 23px;
	cursor: pointer;
}

.bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 59px;
	background-color: black;
	gap: 20px;
}

.bar p {
	color: white;
	font-size: 16px;
	cursor: default;
}

.bar button {
	width: 216px;
	height: 38px;
	font-weight: bold;
	background-color: white;
	border-radius: 60px;
	border: none;
	cursor: pointer;
}


.bar i {
	color: white;
	margin-right: 5px;
}

